<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="p-5 text-center text-white cl-sm-12">
                    <h3>Question Creator for Exams</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-4">
        <div class="container">
            <div class="row">
                <div class="cl-sm-12">
                    <div class="p-5 m-3 border-0 shadow card">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Upload your PDF file here</label>
                            <div class="mb-3 input-group">
                                <input type="file" class="form-control" id="pdf-file">
                            </div>
                          </div>
                          <div class="mb-3 text-end">
                            <button type="button" id="upload-btn" class="btn btn-md btn-success">Generate Q&A</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="result">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-3 border-0 shadow card ms-3">
                        <embed id="view-pdf" src="" width="100%" height="600px" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-5 border-0 shadow card me-3">
                        <div id="loader" class="text-center">
                            <i class="fa-solid fa-spinner fa-spin-pulse font-large"></i>
                        </div>
                        <div id="download" class="text-center">
                            <a href="" id="download-btn" class="btn btn-md btn-warning" download><i class="fas fa-download font-large"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1da99de032.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
<script>
        
</script>
</html>